@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(normalize.css);
@import url(media-queries.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 30px 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 30px 10px;
  }
}
header .container {
  max-width: 1294px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header nav ul li:first-of-type {
  margin-right: 33px;
}
header nav ul li:nth-child(2) {
  margin-right: 35px;
}
header nav ul li:nth-child(2) i {
  margin-left: 4px;
}
header nav ul li:nth-child(3) {
  margin-right: 44px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
header .side-options {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header .side-options li:first-of-type {
  margin-right: 25px;
}

.main-banner {
  padding-top: 28px;
  margin-bottom: 28px;
}

.main-container {
  max-width: 1294px;
  margin: auto;
  background-color: #DCE5E2;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 580px) {
  .main-container {
    flex-direction: column;
  }
}
.main-container article {
  max-width: 588px;
  align-self: center;
  margin-left: 56px;
}
@media screen and (max-width: 580px) {
  .main-container article {
    text-align: center;
    margin-left: 0;
  }
}
.main-container article h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
@media screen and (max-width: 1024px) {
  .main-container article h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main-container article h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
.main-container article p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .main-container article p {
    font-size: 14px;
    line-height: 16px;
  }
}
.main-container article button {
  cursor: pointer;
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .main-container article button {
    font-size: 12px;
    line-height: 20px;
    padding: 7px 25px;
  }
}

.phone-image {
  max-width: 647px;
}
.phone-image img {
  width: 100%;
  display: block;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #hamburger-icon {
    display: block;
  }
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 93px;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobile-menu li {
  margin-top: 30px;
}
.mobile-menu li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #logo {
    max-width: 80px;
  }
  #logo img {
    width: 100%;
  }
}

.second-banner {
  background-color: white;
}

.second-container {
  padding: 72px 27px 27px;
  max-width: 1350px;
  margin: auto;
}

.items-header {
  text-align: center;
  margin-bottom: 59px;
}
.items-header h3 {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  font-family: "Readex Pro", sans-serif;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .items-header h3 {
    font-size: 22px;
    line-height: 24px;
  }
}
.items-header p {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  font-family: "Readex Pro", sans-serif;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .items-header p {
    font-size: 10px;
    line-height: 14px;
  }
}

.items-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .items-container {
    align-items: center;
  }
}
.items-container .each-item {
  max-width: 303px;
  text-align: left;
  margin-right: 56px;
}
@media screen and (max-width: 1024px) {
  .items-container .each-item {
    align-self: center;
  }
}
.items-container .each-item a {
  margin-bottom: 9px;
}
.items-container .each-item a img {
  padding: 28px;
}
.items-container .each-item a article {
  max-width: 303px;
}
.items-container h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  font-family: "Readex Pro", sans-serif;
  color: #000000;
}
.items-container p {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
  color: #4B4B4B;
}
.items-container span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

footer {
  background-color: #F8F9FA;
  width: 100%;
  padding: 29px 0 78px;
}
footer .container {
  max-width: 1294px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }
}
footer .footer-left {
  max-width: 304px;
  text-align: left;
  margin-right: 118px;
}
@media screen and (max-width: 1024px) {
  footer .footer-left {
    margin-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-left {
    text-align: center;
    align-self: center;
    margin-bottom: 30px;
    margin-right: 0;
  }
}
footer .footer-left p {
  margin-top: 18px;
}
footer .footer-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer .footer-right {
    padding: 0 20px;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media screen and (max-width: 580px) {
  footer .footer-right {
    flex-direction: column;
  }
}
footer .footer-right li {
  list-style: none;
  max-width: 197px;
  margin-right: 28px;
  margin-bottom: 14px;
}
@media screen and (max-width: 768px) {
  footer .footer-right li {
    margin-right: 0;
    text-align: center;
  }
}
footer .footer-right li:last-of-type {
  margin: inherit;
  margin-bottom: 0;
}
footer .footer-right li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  footer .footer-right li a {
    font-size: 12px;
    line-height: 16px;
  }
}
footer .footer-right li h4 {
  margin-bottom: 19px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  footer .footer-right li h4 {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */