@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(normalize.css);
@import url(media-queries.css);
    


$main_font: 'Readex Pro', sans-serif;
$secondary_font: 'Inter', sans-serif;

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: white;
    padding: 30px 0;
    width: 100%;
    @include max-screen(1024px) {
            padding: 30px 10px;
    }

    .container {
            max-width: 1294px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
        }
       
nav {
    @include max-screen(768px) {
        display: none;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
li {
        
        &:first-of-type {
                margin-right: 33px;
            }
        &:nth-child(2) {
            margin-right: 35px;
            i {
                margin-left: 4px;
            }
        }
                &:nth-child(3) {
                    margin-right: 44px;
                }
            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-family: $secondary_font;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                
            }
    }
        
}
}
        
.side-options {
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
        &:first-of-type {
            margin-right: 25px;
        }
    }
}
}

.main-banner {
    padding-top: 28px;  
    margin-bottom: 28px;
    // @include max-screen(580px) {
    //     height: 75vh;
        
    //     }
}
.main-container {
    max-width: 1294px;
    margin: auto;
    background-color: #DCE5E2;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    @include max-screen(580px) {
        flex-direction: column;
    }
    article {
        max-width: 588px;
        align-self: center;
        margin-left: 56px;
        @include max-screen(580px) {
                text-align: center;
                margin-left: 0;
            }
        h1 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 58px;
            line-height: 70px;
            color: #000000;
            margin-bottom: 19px;

            @include max-screen(1024px) {
                font-size: 30px;
                line-height: 40px;                
            }
                        @include max-screen(768px) {
                            font-size: 20px;
                                line-height: 30px;
                        }
        }
        p {
            font-family: $secondary_font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            margin-bottom: 30px;
            @include max-screen(768px) {
                    font-size: 14px;
                    line-height: 16px;
                }
        }
        button {
            cursor: pointer;
            padding: 14px 53px;
            border: 1px solid #000000;
            border-radius: 200px;
            font-family: $secondary_font;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                text-transform: capitalize;            
                color: #000000;
                @include max-screen(768px) {
                        font-size: 12px;
                        line-height: 20px;
                        padding: 7px 25px;
                    }
        }
    }
}
.phone-image {
    max-width: 647px;
    img {
        width: 100%;
        display: block;
    }
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    @include max-screen(768px) {
            display: block;
        }
}
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 93px;
    left: 0;
    width: 100%;
    height: 100%;
    li {
        margin-top: 30px;  
        &:nth-child(2) {        
                i {
                    margin-left: 4px;
                }
            }
    a {
        text-decoration: none;       
        color: white;        
        text-transform: uppercase;
        font-family: $secondary_font;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        }
    }
    
}
#logo {     
    @include max-screen(768px) {        
            max-width: 80px;
            img {
                width: 100%;
            }
        }    
}
.second-banner {
    background-color: white;
    
}
.second-container {
    padding: 72px 27px 27px;
    max-width: 1350px;
    margin: auto;
    
}
.items-header {
    text-align: center;
    margin-bottom: 59px;    
        h3 {
            margin-bottom: 9px;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            font-family: $main_font;
            color: #000000;
            @include max-screen(768px) {
                    font-size: 22px;
                    line-height: 24px;            
                }
        }
        p {
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            font-family: $main_font;
            color: #000000;
            @include max-screen(768px) {
                    font-size: 10px;
                    line-height: 14px;
                }
        }
}
.items-container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    @include max-screen(1024px) {
            align-items: center;
    
        }

.each-item {
    max-width: 303px;
    text-align: left;
    margin-right: 56px; 
    @include max-screen(1024px) {
        align-self: center;

    }
    a {
        margin-bottom: 9px;
    img {
        padding: 28px;
    }
    article {
        max-width: 303px;                  
    }
}
}
h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-family: $main_font;
    color: #000000;
    
}
p {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: $secondary_font;
    color: #4B4B4B;
}
span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: $secondary_font;
    color: #000000;
}
} 
footer {    
    background-color: #F8F9FA;
    width: 100%;
    padding: 29px 0 78px;
    .container {
            max-width: 1294px;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            @include max-screen(768px) {
                flex-direction: column;
            }
        }
        .footer-left {
            max-width: 304px;
            text-align: left;
            margin-right: 118px;
            @include max-screen(1024px) {
                margin-right: 50px;
            }
                        @include max-screen(768px) {
                            text-align: center;
                            align-self: center;
                            margin-bottom: 30px;
                            margin-right: 0;
                        }
            p {
                margin-top: 18px;
            }
        }
        
    .footer-right {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include max-screen(768px) {
            padding: 0 20px;
                flex-wrap: wrap;
                align-content: center;
            }
                        @include max-screen(580px) {
                            flex-direction: column;
                        }
        li {
            list-style: none;
            max-width: 197px;
            margin-right: 28px;
            margin-bottom: 14px;
            @include max-screen(768px) {
                margin-right: 0;
                text-align: center;
            }
            &:last-of-type {
                margin: inherit;
                margin-bottom: 0;
            }
            a {
                text-decoration: none;
                font-family: $secondary_font;
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                color: #000000;
                @include max-screen(1024px) {
                    font-size: 12px;
                    line-height: 16px;
                    }
            }
            h4 {
                margin-bottom: 19px;
                font-family: $main_font;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                color: #000000;
                @include max-screen(1024px) {
                        font-size: 16px;
                        line-height: 20px;
                    }

            }            
        }
        
       
    }
}
