* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 30px 0;
  width: 100%;
}
header .container {
  max-width: 1294px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header nav ul li:first-of-type {
  margin-right: 33px;
}
header nav ul li:nth-child(2) {
  margin-right: 35px;
}
header nav ul li:nth-child(2) i {
  margin-left: 4px;
}
header nav ul li:nth-child(3) {
  margin-right: 44px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
header .side-options {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header .side-options li:first-of-type {
  margin-right: 25px;
}

.main-banner {
  padding: 28px 0 75px;
  height: 100vh;
}

.main-container {
  max-width: 1294px;
  margin: auto;
  background-color: #DCE5E2;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 580px) {
  .main-container {
    flex-direction: column;
  }
}
.main-container article {
  max-width: 588px;
  align-self: center;
  margin-left: 56px;
}
@media screen and (max-width: 580px) {
  .main-container article {
    text-align: center;
    margin-left: 0;
  }
}
.main-container article h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
@media screen and (max-width: 1024px) {
  .main-container article h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main-container article h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
.main-container article p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .main-container article p {
    font-size: 14px;
    line-height: 16px;
  }
}
.main-container article button {
  cursor: pointer;
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .main-container article button {
    font-size: 12px;
    line-height: 20px;
    padding: 7px 25px;
  }
}

.phone-image {
  max-width: 647px;
}
.phone-image img {
  width: 100%;
  display: block;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #hamburger-icon {
    display: block;
  }
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 93px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
.mobile-menu li {
  margin-top: 30px;
}
.mobile-menu li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #logo {
    max-width: 80px;
  }
  #logo img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */